@page "/Favorites"
@using WebApp.Data.Actors
@using WebApp.Data.FavoriteMovie
@using WebApp.Data.FavouriteActor
@using WebApp.Data.Movies
@using WebApp.Data.Users
@using WebApp.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject IMovieService MovieService
@inject IActorService ActorService
@inject IFavoriteMovieService FavoriteMovieService
@inject IFavouriteActorService FavoriteActorService
@inject IUserService UserService
@inject NavigationManager uriHelper;

@if ((!actors.Any() || !movies.Any()) && !showList)
{
     <div class="text-center">
            <span>Please search...</span>

            <div class="row filter">
                <div class=" col-md-7">
                    <input type="search" @bind-value="searchQuery" placeholder="Enter an email..." class="form-control" maxlength="150" />
                </div>
                <button class="btn btn-primary" @onclick="GetFavorites">
                    <i class="bi bi-search"></i>
                </button>
            </div>
    </div>
    
}
else
{    
    <div class="container">
        <div class="row filter">
            <div class="col-md-3">
                <select class="form-select" aria-label="Default select example" @onchange="@HandleChange">                                  
                    <option value="Actors">Favorite Actors</option>
                    <option value="Movies">Favorite Movies</option> 
                </select>
            </div>
            <div class=" col-md-7">
                <input type="search" @bind-value="searchQuery" placeholder="Enter an email..." class="form-control" maxlength="150" />
            </div>
            <button class="btn btn-primary" @onclick="GetFavorites">
                <i class="bi bi-search"></i>
            </button>
        </div>

        <div class="row">
            @if (showList)
            {
                @if (isActors)
                {
                    @foreach (var a in actors)
                    {
                         <div class="col-md-2 card">
                              <div>
                                    <a href="/ActorOverview" class="card-img" @onclick="() => ActorSelected(a.Id)">
                                    @if (a.ProfilePath != null)
                                    {
                                       <img class="movie-image" src="http://image.tmdb.org/t/p/w500/@a.ProfilePath">
                                    }
                                    else
                                    {
                                      <img class="movie-image" src="/User_gray.png"> <br> <br> <br> <br> <br>
                                    }

                                    </a>
                                </div>
                             <div class="title">
                                 <h5><a> @a.Name</a></h5>
                             </div>
                         </div>                
                    }
                }
                else
                {
                    @foreach (var m in movies)
                    {
                         <div class="col-md-2 card">
                             <div>
                                <a href="/MovieOverview" class="card-img" @onclick="() => MovieSelected(m.id)">
                                   <img class="movie-image" src="http://image.tmdb.org/t/p/w500/@m.poster_path">
                                </a>
                             </div>
                             <div class="title">
                                <h5><a> @m.title</a></h5>
                                <p>
                                   @m.release_date <br>
                                   (@m.vote_average / 10)
                                 </p>
                              </div>
                          </div>
                    }
                }            
            }
            @if (!string.IsNullOrWhiteSpace(message))
            {
                                    <div class="alert alert-danger">
                    @message
                                    </div>
            }
        </div>  

        <div class="align-content-center" style="text-align:center">
                <a href="/Favorites" class="btn btn-white" @onclick="FirstPage" title="First Page"><i class="bi bi-chevron-double-left"></i> </a>
                <a href="/Favorites" class="btn btn-white" @onclick="PreviousPage" title="Previous Page"> <i class="bi bi-arrow-left-square"></i> </a>
            @if (isActors)
            {
                <span>Page @currentPage of @actorList.TotalPage </span>
            }
            else
            {
                 <span>Page @currentPage of @movieList.TotalPage </span>
            }
            <a href="/Favorites" class="btn btn-white" @onclick="NextPage" title="Next Page"><i class="bi bi-arrow-right-square"></i> </a>
            <a href="/Favorites" class="btn btn-white" @onclick="LastPage" title="Last Page"><i class="bi bi-chevron-double-right"></i> </a>
            </div>
    </div>
}
@code {
    private MovieList movieList = new MovieList();
    private ActorList actorList = new ActorList();
    private List<Actor> actors = new List<Actor>();
    private List<Movie> movies = new List<Movie>();
    private bool isActors = true;
    public string searchQuery = "";
    public bool showList = false;
    string message = String.Empty;
    private int currentPage = 1;
    private bool dropDownSelect = false;
    private List<List<Actor>> splitedActorFavouriteList = new List<List<Actor>>();
    private List<List<Movie>> splitedMovieFavouriteList = new List<List<Movie>>();

    private async Task<MovieList> GetFavMoviesByEmail()
    {
        var result = await FavoriteMovieService.GetFavoriteMoviesByEmail(searchQuery);
        return result;
    }

    private async Task<List<Actor>> GetFavActorsByEmail()
    {
        var result = await FavoriteActorService.GetFavouriteActorsByEmail(searchQuery);
        return result;
    }

    protected async Task GetFavorites()
    {
        message = "";
        if (searchQuery == string.Empty)
        {
            showList = false;
            message = "Please enter an email in the search field and try again";
            return;
        }

        if (!isActors)
        {
            movies.Clear();
            movieList = await GetFavMoviesByEmail();
            movieList.movies.ForEach(m => movies.Add(m));
            if (movieList == null)
            {
                message = "The user either does not exist or their privacy settings are blocking your request";
                return;
            }
            splitedMovieFavouriteList = SplitListMovie(movies);
            movieList.TotalPage = splitedMovieFavouriteList.Count;
            FavouriteMoviesListPage();
            showList = true;
        }
        else
        {
            actors.Clear();
            actorList.Actors = await GetFavActorsByEmail();
            actorList.Actors.ForEach(a => actors.Add(a));
            if (actorList.Actors == null)
            {
                message = "The user either does not exist or their privacy settings are blocking your request";
                return;
            }

            splitedActorFavouriteList = SplitListActor(actors);
            actorList.TotalPage = splitedActorFavouriteList.Count;
            FavouriteActorsListPage();
            showList = true;
        }
    }

    protected async Task NextPage()
    {
        if (searchQuery == string.Empty) return;
        if (currentPage < actorList.TotalPage)
        {
            currentPage += 1;
            if (isActors)
            {
                FavouriteActorsListPage();
            }
            else
            {
                FavouriteMoviesListPage();
            }
        }
    }

    protected async Task PreviousPage()
    {
        if (searchQuery == string.Empty) return;
        if (currentPage > 1)
        {
            currentPage -= 1;
            if (isActors)
            {
                FavouriteActorsListPage();
            }
            else
            {
                FavouriteMoviesListPage();
            }
        }
    }

    protected async Task FirstPage()
    {
        if (searchQuery == string.Empty) return;
        if (currentPage != 1)
        {
            currentPage = 1;
            if (isActors)
            {
                FavouriteActorsListPage();
            }
            else
            {
                FavouriteMoviesListPage();
            }
        }
    }

    protected async Task LastPage()
    {
        if (searchQuery == string.Empty) return;
        if (currentPage != actorList.TotalPage)
        {
            currentPage = actorList.TotalPage;
            if (isActors)
            {
                FavouriteActorsListPage();
            }
            else
            {
                FavouriteMoviesListPage();
            }
        }
    }

    public async Task MovieSelected(int id)
    {
        MovieService.SetMovieId(id);
    }

    public async Task ActorSelected(int id)
    {
        ActorService.SetActorId(id);
    }

    public async void HandleChange(ChangeEventArgs e)
    {
        message = "";
        if (e.Value.Equals("Movies"))
        {   
            isActors = false; 
            await GetFavorites();
            currentPage = 1;
            FavouriteMoviesListPage();
        }
        else if (e.Value.Equals("Actors"))
        {
            isActors = true; 
            await GetFavorites();                 
            currentPage = 1;
            FavouriteActorsListPage();
        }
        dropDownSelect = true;
        await InvokeAsync(StateHasChanged);
    }

    private void FavouriteActorsListPage()
    {        
        foreach (var item in splitedActorFavouriteList.Select((value, index) => new { value, index }))
        {
            if (item.index + 1 == currentPage)
            {
                actors = item.value;
            }
        }
    }

    private void FavouriteMoviesListPage()
    {       
        foreach (var item in splitedMovieFavouriteList.Select((value, index) => new { value, index }))
        {
            if (item.index + 1 == currentPage)
            {
                movies = item.value;
            }
        }
    }

    public static List<List<Actor>> SplitListActor(List<Actor> favouriteList, int nSize = 20)
    {
        var list = new List<List<Actor>>();

        for (int i = 0; i < favouriteList.Count; i += nSize)
        {
            list.Add(favouriteList.GetRange(i, Math.Min(nSize, favouriteList.Count - i)));
        }

        return list;
    }

    public static List<List<Movie>> SplitListMovie(List<Movie> favouriteList, int nSize = 20)
    {
        var list = new List<List<Movie>>();

        for (int i = 0; i < favouriteList.Count; i += nSize)
        {
            list.Add(favouriteList.GetRange(i, Math.Min(nSize, favouriteList.Count - i)));
        }

        return list;
    }  
}