@page "/Movies"
@using WebApp.Data.FavoriteMovie
@using WebApp.Data.Movies
@using WebApp.Data.Users
@using WebApp.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject IMovieService MovieService
@inject IFavoriteMovieService FavoriteMovieService
@inject IUserService UserService
@inject NavigationManager uriHelper;

@if (movieList.movies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!movieList.movies.Any())
{
    <p>
        <em>No movie exist. </em>
    </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="form-outline col-md-8">
                <input type="search" placeholder="Search" class="form-control" maxlength="150" @bind-value="searchQuery" />
            </div>
            <button class="btn btn-primary col-md-1" @onclick="GetMoviesBySearch">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <select class="btn btn-light" style="width:100px;" @onchange="@HandleChange">
            <option disabled hidden>Sorting by...</option>
            <AuthorizeView>
                <option value="Favorites">Your favorite movies</option>
            </AuthorizeView>
            <option value="RatingDesc">Rating High->Low</option>
            <option value="RatingAsc">Rating Low->High</option>
            <option value="TitleAsc">Title A->Z</option>
            <option value="TitleDesc">Title Z->A</option>
        </select>

        <div class="row">
            @foreach (var m in movieList.movies)
            {
                <div class="col-md-2 card">
                    <div class="card-body">
                        <a href="/MovieOverview" class="card-img" @onclick="() => MovieSelected(m.id)">
                            <img class="movie-image" src="http://image.tmdb.org/t/p/w500/@m.poster_path">
                        </a>
                    </div>
                    <div>
                        <h5 class="title"><a> @m.title</a></h5>
                        <p>@m.release_date</p>
                    </div>
                </div>
            }
        </div>

        <div class="navbar align-content-center">
            <a href="/Movies" class="btn btn-white" @onclick="FirstPage" title="First Page"><i class="bi bi-chevron-double-left"></i> </a>
            <a href="/Movies" class="btn btn-white" @onclick="PreviousPage" title="Previous Page"> <i class="bi bi-arrow-left-square"></i> </a>
            <span>Page @movieList.CurrentPage of @movieList.TotalPage </span>
            <a href="/Movies" class="btn btn-white" @onclick="NextPage" title="Next Page"><i class="bi bi-arrow-right-square"></i> </a>
            <a href="/Movies" class="btn btn-white" @onclick="LastPage" title="Last Page"><i class="bi bi-chevron-double-right"></i> </a>
        </div>
    </div>
}
@code {
    private MovieList movieList = new MovieList();
    private int currentPage = 1;
    public string Sorting = "TopRated";
    private bool dropDownSelect = false;
    public string searchQuery = "";

    protected override async Task OnInitializedAsync()
    {
        if (!dropDownSelect)
        {
            movieList = await GetMovies(currentPage);
        }
    }

    private async Task<MovieList> GetMovies(int page)
    {
        var result = await MovieService.GetMoviesByRatingDesc(page);
        return result;
    }

    protected async Task GetMoviesBySearch()
    {
        if (searchQuery == "") return;
        movieList = await MovieService.GetMoviesBySearch(currentPage, searchQuery);
    }

    protected async Task NextPage()
    {
        if (currentPage < movieList.TotalPage)
        {
            currentPage = movieList.CurrentPage + 1;
            if (searchQuery != "")
            {
                await GetMoviesBySearch();
            }
            else
            {
                movieList = await GetMovies(currentPage);
            }
        }
    }

    protected async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage = movieList.CurrentPage - 1;
            if (searchQuery != "")
            {
                await GetMoviesBySearch();
            }
            else
            {
                movieList = await GetMovies(currentPage);
            }
        }
    }

    protected async Task FirstPage()
    {
        if (currentPage != 1)
        {
            currentPage = 1;
            if (searchQuery != "")
            {
                await GetMoviesBySearch();
            }
            else
            {
                movieList = await GetMovies(currentPage);
            }
        }
    }

    protected async Task LastPage()
    {
        if (currentPage != movieList.TotalPage)
        {
            currentPage = movieList.TotalPage;
            if (searchQuery != "")
            {
                await GetMoviesBySearch();
            }
            else
            {
                movieList = await GetMovies(currentPage);
            }
        }
    }

    public async Task MovieSelected(int id)
    {
        MovieService.SetMovieId(id);
    }

    public async void HandleChange(ChangeEventArgs e)
    {
        if (e.Value.Equals("Favorites"))
        {
            movieList = await FavoriteMovieService.GetFavoriteMoviesByID(UserService.GetUserId());
        }
        else if (e.Value.Equals("RatingDesc"))
        {
            movieList = await MovieService.GetMoviesByRatingDesc(1);
        }
        else if (e.Value.Equals("RatingAsc"))
        {
            movieList = await MovieService.GetMoviesByRatingAsc(1);
        }
        else if (e.Value.Equals("TitleAsc"))
        {
            movieList = await MovieService.GetMoviesByTitleAsc(1);
        }
        else if (e.Value.Equals("TitleDesc"))
        {
            movieList = await MovieService.GetMoviesByTitleDesc(1);
        }
        dropDownSelect = true;
        await InvokeAsync(StateHasChanged);
    }
}